body{
    margin: 0;
    padding: 0;
    display: flex;
}

.left{
width: 40%;
background-image: url(./images/halie-west.jpg);
/* background-repeat: no-repeat; */
background-size:cover;
/* background-position:center; */
height: 923px;
position: relative; 
}

.left .logo{
    position: absolute;
    color: #fff;
    margin-top: 130px;
    background-color: #39393a5d;
    width: 100%;
    display: flex;
}


.logo img{
    width: 100px;
    /* padding: 40px; */
    margin-left: 200px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.logo p{
    /* margin-top: 168px; */

    /* font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    font-size: 50px;
}
.right{
    width: 60%;
    margin-top: 0;
    /* padding: 40px; */
    /* margin: 30px; */
    background-color: #E5E7EB;
}

.top{
    /* margin: 10px; */
    padding: 40px; 
    padding-bottom: 20px;
}

.top p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size: 26px;
}

.mid{
    background-color: #fff;
    padding: 40px; 
}
.formInputs{
    display: flex;
    /* justify-content: space-evenly; */
    gap: 50px;
}

.leftform{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.rightform{
    display: flex;
    flex-direction: column;
    width: 50%;

}
.formInputs input{
    height: 25px;
    width: 50%;
    border-radius: 5px;
    border: 1px solid #c6c7c9;
    font-size: large;
    font-weight: 200;
}

.formInputs input:focus{
    /* border: 2px solid red; */
    /* box-shadow: 5px 10px ; */
}

.bottum{
    padding: 40px;
}
.bottum button{
    width: 230px;
    height: 50px;
    background-color: #596D48;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: large;
    font-weight: 200;
}

.account{
    display: flex;
    font-size: larger;
}


